/* keyframes, 
    bodies-plane, bodies-main, bodies-wing, plane-main, wing-all
    bodies-character,
    bulk, */

/* bodies */

/* bodies-plane */

.plane-animate {
  animation: plane-mov 3s linear infinite reverse none;
  transform-origin: 50% 50%;
}

/* bodies-main */

.main-col {
  background-color: #59b5f7;
}
.bodys {
  width: 1000px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.updown {
  flex-direction: column;
}

/* bodies-wing */

.back-wing {
  z-index: 4;
  width: 200px;
  height: 20px;
  background-color: #ffd54a;
  top: 130px;
}

.front-wing {
  z-index: 7;
  width: 200px;
  height: 40px;
  background-color: #ff6d00;
}

.left {
  right: 700px;
  transform: rotate(3deg);
}

.right {
  right: 490px;
  transform: rotate(-3deg);
}

/* plain-main */

.helibody {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #c6caed;
  z-index: 9;
}

.helipad {
  background-color: grey;
  height: 15px;
  width: 100px;
  animation-name: rotates;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  z-index: 9;
}

.heliwindow {
  top: 125px;
  height: 0;
  width: 30px;
  border-bottom: 20px solid #32557f;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  z-index: 7;
}

.main-bod {
  width: 120px;
  height: 170px;
  top: 110px;
  background-color: #ffa500;
  z-index: 6;
}
/* wing-all */

.mini-circle {
  width: 20px;
  height: 20px;
  z-index: 10;
  background-color: green;
}

.mini-circle2 {
  width: 50px;
  height: 50px;
  z-index: 8;
  background-color: blue;
}

/* characters */

.char-ear {
  height: 20px;
  width: 10px;
  background-color: #663c1f;
  top: 67px;
  z-index: 2;
  top: 80px;
}

.char-goggle {
  top: 70px;
  height: 25px;
  width: 25px;
  background-color: #e08543;
  z-index: 10;
}

.char-goggle-connect {
  top: 67px;
  height: 15px;
  width: 30px;
  background-color: #663c1f;
  right: 680px;
  z-index: 8;
}

.char-hair1 {
  top: 50px;
  height: 50px;
  width: 70px;
  background-color: #000;
  right: 663px;
  z-index: 3;
}

.char-hair2 {
  height: 30px;
  width: 65px;
  background-color: #000;
  top: 55px;
  right: 663px;
  z-index: 7;
}

.char-hair3 {
  height: 30px;
  width: 60px;
  background-color: #4a5240;
  top: 60px;
  right: 665px;
  z-index: 7;
}

.char-head {
  top: 55px;
  height: 80px;
  width: 70px;
  background-color: #4a5240;
  right: 660px;
  z-index: 4;
}

.char-lip {
  top: 103px;
  height: 10px;
  width: 30px;
  background-color: #9b1313;
  right: 500x;
  z-index: 5;
  transform: rotate(3deg);
}

.ear1 {
  right: 655px;
}

.ear2 {
  right: 726px;
}
.gog1 {
  right: 695px;
}

.gog2 {
  right: 666px;
}

/* keyframes */
@keyframes rotates {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes plane-mov {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: rotate(0);
    transform: translateY(5px);
  }
  10%,
  50%,
  90% {
    transform: translateY(-10px);
    transform: rotate(5deg);
  }

  30%,
  70% {
    transform: translateY(10px);
    transform: rotate(-5deg);
  }
}

/* bulk */

.position {
  position: absolute;
}

.circlize {
  border-radius: 50%;
}